#dato0{
    color: blue;
    font-size: 20px;
}
.pato{
    font-family: Cambria, Cochin;
color: darkgreen;
text-align: right;
background-color: rgb(42, 165, 165);
}
div{
    height: 400px;
    width: 400px;
    
}
