body {
    font-family: 'Open sans', Arial, tahoma;
    font-weight: 400;
    /*especifica el peso o grueso de la letra. Algunos tipos de letra sólo están disponibles en normal y bold.*/
    font-size: 10px;
    color: #363636;
    background: #d4d4d4;
}

/* HEADER */

h1 {
    text-transform: uppercase;
}

h1 span {
    color: crimson;
}

#cabezal {
    text-align: center;
    border-bottom-color: rgb(92, 92, 92);
    border-bottom-width: 2px;
    border-bottom-style: double;
}


#photo img {
    background-color: rgb(77, 77, 77);
    /*define el color del borde inferior de un elemento, con la ayuda de un valor de color o con la palabra clave transparent.*/
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.container {
    max-width: 800px;
    /*La propiedad CSS width especifica la anchura del area de contenido de un elemento. De forma predeterminada, establece el ancho del área de contenido, pero si el box-sizing se establece en border-box, establece el ancho del área del borde.*/
    background: #ededed;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30;
    margin-right: 50px;

}

.menu ul {
    text-align: center;
    margin: auto;
    padding: 0%;
    /*establece el área de relleno en los cuatro lados de un elemento a la vez. El área de relleno de un elemento es el espacio entre su contenido y su borde.*/
    list-style-type: none;
    /*especifica la apariencia del listado.*/
}

.menu ul li {
    display: inline-block;
    position: relative;
}

.menu ul li a {
    background-color: rgb(252, 21, 51);
    color: #d4d4d4;
    font-size: 10px;
    text-decoration: none;
    display: block;
    /*Especifica si un elemento es tratado como block or inline element y el diseño usado por sus hijos, como flow layout(Diseño de Flujo), grid(Cuadricula) o flex(Flexible). Establece los tipos de visualización interna y externa de un elemento. La tipo externa establece la participacion de un elemento en flow layout; la tipo interna establece el layout(Diseño) de los hijos. */
    padding: 5px;
}

/*La propiedad position de CSS especifica cómo un elemento es posicionado en el documento. Las propiedades top, right, bottom, y left determinan la ubicación final de los elementos posicionados.*/
.menu ul li ul {
    position: absolute;
    left: 0;
    list-style-type: none;
    display: none;
    height: auto;
}

.menu ul li:hover ul {
    display: block;

}

.menu ul li ul li {
    display: block;
    width: 60px;
    height: 20px;
    margin: 0;
    text-align: left;

}

h2 {
    color: crimson;
    text-transform: uppercase;
}

h2::before {
    content: "//";
}

.clearfix:before {
    display: table;
    line-height: 1;
    content: "/";
}


.pull-left {
    float: left;
}

.row {
    padding-left: 10px;
    padding-right: 10px;
}

.col-65 {
    width: 65%;
}

.col-10 {
    width: 5%;
}

.col-90 {
    width: 90%;
}

.education ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.education .year {
    font-size: 1.1em;
    font-weight: bold;
}

.education .description {
    background: #9b9b9b;
    border-bottom: 1px solid #979797;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
}

.education .description h3,
.education .description p {
    margin-top: 0;
    margin-bottom: 0;
}

.education .description p::after {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-right: 8px solid #EEEEEE;
    top: 5px;
    left: -16px;
}

.parrtodo {
    display: flex;
}

.eperience .job .where {
    font-size: 1.2em;
    font-weight: bold;
}

.profesion {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2em;
    text-align: justify;
}

.description {
    margin-top: 0;
    margin-left: 2em;
    text-align: justify;
}

.year {
    font-size: 1em;
}

.containerskill {
    width: 20%;
    background-color: aquamarine;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {
    width: 10%;
    background-color: #04AA6D;
}

.css {
    width: 80%;
    background-color: #2196F3;
}

.js {
    width: 65%;
    background-color: #f44336;
}

.php {
    width: 60%;
    background-color: #808080;
}